In [2]:
# Pandas for creating dataframes and stuff
import pandas as pd

# Numpy for numerical computations on multidimensional arrays
import numpy as np

In [3]:
# Creating DataFrame
DataFrame=pd.read_csv("Santander Customer Satisfaction Train.csv")
DataFrame.shape

(20000, 371)

In [4]:
DataFrame.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [5]:
# Splitting target and independent features
TrainY=DataFrame["TARGET"]
TrainX=DataFrame.drop("TARGET",axis=1)
print(TrainX.shape)

(20000, 370)

In [6]:
# Function that returns columns with threshold value less than or equal to threshold that we have passed
# Choosing threshold depends on column values range and through some domain knowledge expertize

def RemoveColumnsUsingVarianceThreshold(data,Threshold):
    
    # Converting df to numpy array for mathematical computation
    data=data.values
    
    # Initilizing Deletable columns to empty list
    DeletabelColumns=[]
    
    # For each column in dataset(independent features)
    for column in range(data.shape[1]):
        
        # All column values to list
        ColumnValues=data[:, column]
        
        # Mean of the column
        Mean=ColumnValues.mean()
        
        # Initilizing the sum of difference between val and mean to 0 
        summ=0
        
        # For each value in the list
        for val in ColumnValues:
            
            # Add square of difference between mean and value
            summ+=(val-Mean)*(val-Mean)
        
        # Finally calculate the variance of column
        variance=summ/ColumnValues.shape[0]
        
        # If variace is less than or equal to Threshold
        # Then append column to DeletableColumns
        if(variance <= Threshold):
            DeletabelColumns.append(column)
    

    # Return columns that has variance less than or equal to Threshold
    return DeletabelColumns

In [8]:
# Removing constant features using variace
# Threshold value depends on column values
# To remove constant feature from dataset, the variance of column should be very smaller than mean of it's own
data=RemoveColumnsUsingVarianceThreshold(TrainX,0.1)
len(data)

168

In [109]:
# Drop the columns that stored in data
TrainX.drop(TrainX.columns[data],axis=1,inplace=True)

In [9]:
# There are totally 168 columns haviung variance less than 0.1
TrainX.shape

(20000, 370)

In [111]:
# We use the same for test dataset as well
Test=pd.read_csv("Santander Customer Satisfaction Test.csv")
Test.shape

(5000, 370)

In [112]:
# No target column in test dataset
Test.drop(Test.columns[data],axis=1,inplace=True)
Test.shape

(5000, 202)